*{
	margin: 0;
	padding: 0;
}
body {
	color: #f9f900 ;
}
.margen_principal{
	border: solid 3px #00db00;
}
.encabezado{
	position: sticky;
	left: 1px;
	top: 1px;
	font-size: 30px;
	height:100px ;
}
.link{
	font-size: 15px;
}
.foto_logo_izquierda{
	float: left;
	height: 100px;
	width: 100px;
	border-radius: .5rem;
}
.derecha{
	float: right;
}
.menu{
	display: inline-block;
	background-color: #0072e3;
	height: 100px;
	width: 1250px;
	margin: 0;
}
.pie_de_pagina{
	display: inline-block;
	background-color: #0072e3;
	height: 100px;
	width: 1250px;
}
.texto{
	text-align: center;
}
.slogan{
	margin: 0;
	font-size: 30px;
	border: 5px white; outset;
	text-decoration: underline;
	text-shadow: 3px 5px 5px #e1e100;
}
.slider-frame {
	width: 400px;
	height: auto;
	margin: 50px auto 0;
	overflow: hidden;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 16s infinite alternate ease-in-out;
}
.slider-frame li {
	list-style: none;
	width: 100%;
}
.slider-frame img {
	width: 100%;
}
@keyframes slide {
	0% {margin-left: 0%;}
	20% {margin-left: 0%;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	95% {margin-left: -300%;}
}
.text{
	font-size: 25px;
}
a{
	text-decoration: none;
}
a:link{
	color: #f9f900;
}
a:visited{
	color: #ffff99;
}
a:hover{
	color: black;
}
a:active{
	color: red;
}
footer section{
	float: right;
	margin: 30px;
}
footer p{
	float: left;
	margin: 30px;
}
footer a{
	transition: color 0.3s ease;
}